<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD app</title>
</head>
<body>
      <header>
    <h1>Employee Database</h1>
  </header>



  <form action="/add" method="POST">
    <fieldset>
      <h3>Add new employee</h3>
      <label>Employee ID</label>
      <input type ="text" id = 'empID' name="id" required>
      <br><br>
      <label>Name</label>
      <input type="text" id = "name" name="name" required>
      <br><br>
      <button type ="reset">Reset</button>
      <button type ="submit">Submit</button>
    </fieldset>
  </form>
 




  <form action="/view" method="POST">
  <fieldset>
    <h3>View an employee</h3>
    <label>Employee ID</label>
    <input type="text" id="empID" name="id" required>
    <br><br>
    <button type ="reset">Reset</button>
    <button type ="submit">Submit</button>
    <br><br><br>
  </fieldset>
 </form>




<form action="/update" method="POST">
  <fieldset>
    <h3>Update an employee</h3>
    <label>Employee ID</label>
    <input type ="text" id = 'empID' name="id" required>
    <br><br>
    <label>New Name</label>
    <input type="text" id = "name" name="name" required>
    <br><br>
    <button type ="reset">Reset</button>
    <button type ="submit">Submit</button>
  </fieldset>
 </form>
<form action="/delete" method="POST">
  <fieldset>
    <h3>Delete an employee</h3>
    <label>Employee ID</label>
    <input type ="text" id = 'empID' name="id" required>
    <br><br>

    <button type ="reset">Reset</button>
    <button type ="submit">Submit</button>
    <br><br><br>
  </fieldset>
 </form>

</body>
</html>